[desktop]
app_nr=3
bg_pic=res/desktop/lake.png

[dsp-app0]
path=../minesweeper/
name=setting
layer=
pictrue=res/desktop/setting.png

[dsp-app1]
path=../housekeeper/
name=photo
layer=
pictrue=res/desktop/photo.png

[dsp-app2]
path=../housekeeper/
name=remote_control
layer=
pictrue=res/desktop/remote_control.png

[screensaver]
waittime=30
